body{
	background-color: #D3972F; 
	padding-top: 60px; 
}
@keyframes offset{
	100%{
		stroke-dashoffset: 0;
	}
}
@keyframes fill-it{
	100%{
		fill: yellow;
	}
}
@keyframes pulse{
	50%{
		transform:  scale(1.4);
	}
}
svg{
	margin: 2em auto 0;
	display: block;
	width: 40%;
}
.star{
    transform-origin: 50% 50%; /*obligatorio ponerlo para que se centre*/
	stroke: white;
	stroke-width: 4;
	stroke-dasharray: 810; /*se puede obtener el valor con JS*/
	stroke-dashoffset: 810;
	animation: pulse .5s 1.5s;
/*	animation: offset 5s linear forwards, fill-it .8s 2s forwards;
*//*	transition: transform .3s ease-out;
*/}
.star:nth-of-type(2){
	animation-delay: 1.6s;
}
.star:nth-of-type(3){
	animation-delay: 1.7s;
}
.star:nth-of-type(4){
	animation-delay: 1.8s;
}
.star:nth-of-type(5){
	animation-delay: 1.9s;
}
.star:hover{
	transform: rotate(45deg);
}
.stars-bg{
    stroke: white;
	stroke-width: 6;
	stroke-dasharray: 810; /*se puede obtener el valor con JS*/
	stroke-dashoffset: 810;
	animation: offset 1s linear forwards/*, fill-it .8s 2s forwards*/;	
}